.carousel * {
	margin: 0 auto;
	padding: 0;
	display: block;
}

.carousel_position {
	padding: 10px;
	text-align: center;
}

.carousel_position > * {
	-webkit-transition: background .5s;
	display: inline-block;
	height: 8px;
	width: 8px;
	margin: 0 5px;
	border-radius: 8px;
	text-indent: -9999px;
	background-color: #ccc;
	cursor: pointer;
}

.carousel_position .active {
	background-color: #a51324;
}