html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  background: #2f2f2f;
  position: relative;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
}

header {
  background: white;
  position: relative;
  border-bottom: 1px solid black;
}
header .title {
  display: inline-block;
  font-size: 24px;
  padding: 20px 15px;
}
header .github {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.wrapper {
  background: white;
  margin: 0 10%;
}
.wrapper > nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.wrapper > nav a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: block;
  text-align: center;
  padding: 10px 0;
  border: 1px solid black;
}
.wrapper > nav a.active {
  background: yellow;
}

.content {
  background: #EEE;
  overflow: hidden;
  border: solid black;
  border-width: 0 1px 1px;
}
.content > section {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 10px;
  background: white;
  border: 1px solid #AAA;
  padding: 5px 10px;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #AAA;
  font-size: 18px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 1px 10px -3px #999999 inset;
  -moz-box-shadow: 0px 1px 10px -3px #999999 inset;
  box-shadow: 0px 1px 10px -3px #999999 inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: linear-gradient(top, #fafafa 0%, #ffffff 100%);
  display: block;
  padding: 7px;
  border: 1px solid #9c9c9c;
  color: #666;
  font-size: 13px;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}

button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7312c), color-stop(100%, #962622));
  background: -webkit-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: -moz-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: -o-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: linear-gradient(top, #b7312c 0%, #962622 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  padding: 7px;
  border: 1px solid #85211e;
  text-shadow: 0px 1px #6b1b19;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 5px 0px 10px 0px;
}

.error {
  border: 2px solid #CD0000 !important;
}

xmp {
  margin: 10px;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre .str, code .str {
  color: #65B042;
}

/* string  - green */
pre .kwd, code .kwd {
  color: #E28964;
}

/* keyword - dark pink */
pre .com, code .com {
  color: #AEAEAE;
  font-style: italic;
}

/* comment - gray */
pre .typ, code .typ {
  color: #89bdff;
}

/* type - light blue */
pre .lit, code .lit {
  color: #3387CC;
}

/* literal - blue */
pre .pun, code .pun {
  color: #fff;
}

/* punctuation - white */
pre .pln, code .pln {
  color: #fff;
}

/* plaintext - white */
pre .tag, code .tag {
  color: #89bdff;
}

/* html/xml tag    - light blue */
pre .atn, code .atn {
  color: #bdb76b;
}

/* html/xml attribute name  - khaki */
pre .atv, code .atv {
  color: #65B042;
}

/* html/xml attribute value - green */
pre .dec, code .dec {
  color: #3387CC;
}

/* decimal - blue */
pre.prettyprint, code.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  pre .str, code .str {
    color: #060;
  }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit, code .lit {
    color: #044;
  }

  pre .pun, code .pun {
    color: #440;
  }

  pre .pln, code .pln {
    color: #000;
  }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn, code .atn {
    color: #404;
  }

  pre .atv, code .atv {
    color: #060;
  }
}
.snippet {
  font-size: 11px;
  font-family: menlo, monaco, "andale mono", "courier new", fixed;
  color: #FFEC8B;
  background: #202020;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #BBB;
}
.snippet > em {
  color: #89BDFF;
}

.warn {
  color: #E87600;
}

.alert {
  color: #CD0000;
}

.home .example {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.home pre.prettyprint {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 100%;
  margin: 10px 0;
}
.home .output {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  width: 100%;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
}
.home .step2 {
  display: none;
}
.home .step2 .zip {
  float: left;
}
.home .zip {
  width: 100px;
}
.home .city {
  width: 100%;
  margin: 10px 0;
}
.home .ajaxLoader {
  visibility: hidden;
}
.home .demo button {
  max-width: 185px;
}
.home .message {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.widgets .api > article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.widgets .api > article .apiCarousel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 100%;
}
.widgets .api > article .apiCarousel section {
  padding: 0 10px;
}
.widgets .api > article .apiCarousel h3 {
  margin: 10px 0;
}
.widgets .api > article .apiCarousel li {
  line-height: 20px;
}
.widgets .api > article .apiCarousel li:not(:last-of-type) {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #CCC;
}
.widgets .api > article aside {
  min-width: 200px;
  border: 1px solid black;
}
.widgets .api > article aside li {
  padding: 10px;
  border-bottom: 1px solid black;
}
