html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  color: white;
  background: #2c2c2c;
  position: relative;
  font-size: 13px;
  font-family: Helvetica, 'Open Sans', sans-serif;
  line-height: 16px;
}

header {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #2c2c2c;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 10;
}
header .title {
  display: inline-block;
  width: 170px;
  text-decoration: none;
  margin: 0 25px;
}
header .title img {
  width: 31px;
  float: left;
  position: relative;
  bottom: 6px;
}
header .title span {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  top: 17px;
  text-shadow: 3px 2px 0 black;
  left: -3px;
  letter-spacing: -1px;
}
header .github {
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 25px;
}
header nav {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  top: 11px;
  left: 30px;
  font-size: 14px;
}
header nav a {
  display: inline-block;
  padding: 15px;
  margin: 0 10px;
}
header nav a.active {
  color: #42ea00;
}

.wrapper {
  background: #2c2c2c;
  margin: 0 10%;
}

.content {
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  padding-top: 60px;
  background: #090909;
  overflow: hidden;
  border: solid black;
  border-width: 0 1px 1px;
}
.content > section {
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  margin: 10px;
  background: #171717;
  border: 1px solid black;
  padding: 5px 10px;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1, h2, h3 {
  font-weight: bold;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

h1 {
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 18px;
  color: #ffc405;
}

h2 {
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1);
  font-size: 18px;
  color: #ffc405;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

h3 {
  font-size: 14px;
  color: #fbff3a;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 0 black;
}
a:hover {
  color: #ffc405;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 1px 10px -3px #999999 inset;
  -moz-box-shadow: 0px 1px 10px -3px #999999 inset;
  box-shadow: 0px 1px 10px -3px #999999 inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  background: linear-gradient(top, #fafafa 0%, #ffffff 100%);
  display: block;
  padding: 7px;
  border: 1px solid #9c9c9c;
  color: #666;
  font-size: 13px;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}

button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7312c), color-stop(100%, #962622));
  background: -webkit-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: -moz-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: -o-linear-gradient(top, #b7312c 0%, #962622 100%);
  background: linear-gradient(top, #b7312c 0%, #962622 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  padding: 7px;
  border: 1px solid #85211e;
  text-shadow: 0px 1px #6b1b19;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 5px 0px 10px 0px;
}

.error {
  border: 2px solid #CD0000 !important;
}

xmp {
  margin: 10px;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre .str, code .str {
  color: #65B042;
}

/* string  - green */
pre .kwd, code .kwd {
  color: #E28964;
}

/* keyword - dark pink */
pre .com, code .com {
  color: #AEAEAE;
  font-style: italic;
}

/* comment - gray */
pre .typ, code .typ {
  color: #89bdff;
}

/* type - light blue */
pre .lit, code .lit {
  color: #3387CC;
}

/* literal - blue */
pre .pun, code .pun {
  color: #fff;
}

/* punctuation - white */
pre .pln, code .pln {
  color: #fff;
}

/* plaintext - white */
pre .tag, code .tag {
  color: #89bdff;
}

/* html/xml tag    - light blue */
pre .atn, code .atn {
  color: #bdb76b;
}

/* html/xml attribute name  - khaki */
pre .atv, code .atv {
  color: #65B042;
}

/* html/xml attribute value - green */
pre .dec, code .dec {
  color: #3387CC;
}

/* decimal - blue */
pre.prettyprint, code.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  pre .str, code .str {
    color: #060;
  }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit, code .lit {
    color: #044;
  }

  pre .pun, code .pun {
    color: #440;
  }

  pre .pln, code .pln {
    color: #000;
  }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn, code .atn {
    color: #404;
  }

  pre .atv, code .atv {
    color: #060;
  }
}
.snippet {
  font-size: 11px;
  font-family: menlo, monaco, "andale mono", "courier new", fixed;
  color: #FFEC8B;
  background: #202020;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #BBB;
}
.snippet > em {
  color: #89BDFF;
}

.warn {
  color: #E87600;
}

.alert {
  color: #CD0000;
}

.home .example {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.home pre.prettyprint {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 100%;
  margin: 10px 0;
}
.home .output {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  width: 100%;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
}
.home .step2 {
  display: none;
}
.home .step2 .zip {
  float: left;
}
.home .zip {
  width: 100px;
}
.home .city {
  width: 100%;
  margin: 10px 0;
}
.home .ajaxLoader {
  visibility: hidden;
}
.home .demo button {
  max-width: 185px;
}
.home .message {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
.home .latest ul {
  margin: 10px;
}
.home .latest li {
  display: block;
  margin: 3px 0;
}
.home .latest .note {
  font-style: italic;
}
.home .latest h3 {
  margin: 10px 0;
}
.home .latest label {
  display: inline-block;
  font-weight: bold;
  min-width: 230px;
}
.home .recommended label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
.home .recommended input {
  display: block;
  width: 500px;
}

.widgets .api > article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
.widgets .api > article .apiCarousel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 100%;
}
.widgets .api > article .apiCarousel section {
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: solid black;
  border-width: 1px 1px 1px 0;
}
.widgets .api > article .apiCarousel h3, .widgets .api > article .apiCarousel ul {
  margin: 10px 0;
}
.widgets .api > article .apiCarousel li {
  line-height: 20px;
  margin: 10px 20px;
}
.widgets .api > article .apiCarousel li:not(:last-of-type) {
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCC;
}
.widgets .api > article .apiCarousel [data-ss-component="item"] {
  width: 100%;
}
.widgets .api > article aside {
  -webkit-user-select: none;
  min-width: 200px;
  border: 1px solid black;
}
.widgets .api > article aside li {
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a2a), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(#2a2a2a 0%, #1a1a1a 100%);
  background: -moz-linear-gradient(#2a2a2a 0%, #1a1a1a 100%);
  background: -o-linear-gradient(#2a2a2a 0%, #1a1a1a 100%);
  background: linear-gradient(#2a2a2a 0%, #1a1a1a 100%);
  padding: 10px;
  border-bottom: 1px solid black;
}
.widgets .api > article aside li[data-ss-state="open"] {
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0071aa), color-stop(100%, #003882));
  background: -webkit-linear-gradient(#0071aa 0%, #003882 100%);
  background: -moz-linear-gradient(#0071aa 0%, #003882 100%);
  background: -o-linear-gradient(#0071aa 0%, #003882 100%);
  background: linear-gradient(#0071aa 0%, #003882 100%);
  text-shadow: 1px 1px 0px black;
  font-weight: bold;
}

.demos .widget {
  max-width: 500px;
  margin: 0 auto 20px;
}
.demos .carousel .widget {
  margin-bottom: 30px;
}
.demos .carousel [data-ss-component="button"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5bdc8), color-stop(0%, #4f4f4f), color-stop(100%, #303030));
  background: -webkit-linear-gradient(#b5bdc8 0%, #4f4f4f 0%, #303030 100%);
  background: -moz-linear-gradient(#b5bdc8 0%, #4f4f4f 0%, #303030 100%);
  background: -o-linear-gradient(#b5bdc8 0%, #4f4f4f 0%, #303030 100%);
  background: linear-gradient(#b5bdc8 0%, #4f4f4f 0%, #303030 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  height: 90px;
  width: 50px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
}
.demos .carousel [data-ss-component="button"]:after {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -7px;
  font-size: 28px;
  color: white;
  text-shadow: 0 1px 0 black;
}
.demos .carousel [data-ss-component="button"][data-ss-button-type="prev"] {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  left: -70px;
}
.demos .carousel [data-ss-component="button"][data-ss-button-type="prev"]:after {
  content: "<";
}
.demos .carousel [data-ss-component="button"][data-ss-button-type="next"] {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  right: -70px;
}
.demos .carousel [data-ss-component="button"][data-ss-button-type="next"]:after {
  content: ">";
}
.demos .carousel [data-ss-component="dots"] {
  position: absolute;
  bottom: -15px;
  right: 0;
}
.demos .carousel [data-ss-component="dot"] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid #CCC;
  display: inline-block;
  margin-left: 5px;
  background: white;
  height: 12px;
  width: 12px;
  opacity: 0.4;
}
.demos .carousel [data-ss-component="dot"][data-ss-state="active"] {
  opacity: 1;
}
.demos .toggler [data-ss-widget="toggler"] {
  border: solid black;
  border-width: 0 1px 1px;
}
.demos .toggler [data-ss-component="button"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9de96), color-stop(0%, #8ab66b), color-stop(100%, #398235));
  background: -webkit-linear-gradient(#c9de96 0%, #8ab66b 0%, #398235 100%);
  background: -moz-linear-gradient(#c9de96 0%, #8ab66b 0%, #398235 100%);
  background: -o-linear-gradient(#c9de96 0%, #8ab66b 0%, #398235 100%);
  background: linear-gradient(#c9de96 0%, #8ab66b 0%, #398235 100%);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  -webkit-user-select: none;
  background-color: #398235;
  padding: 10px 14px;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid black;
}
.demos .toggler [data-ss-component="button"] .icon:before, .demos .toggler [data-ss-component="button"] .icon:after {
  content: "";
  border-top: 2px solid white;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -1px;
  width: 12px;
}
.demos .toggler [data-ss-component="button"][data-ss-state="closed"] .icon:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.demos .toggler [data-ss-component="wrapper"] {
  background: #EEE;
  border-top: 1px solid black;
  padding: 10px;
  color: black;
}
.demos .toggler [data-ss-component="wrapper"] p {
  margin-bottom: 10px;
}
.demos .toggler [data-ss-component="wrapper"] img {
  border: 1px solid #777;
}
.demos .autodetect-cc input, .demos .reverseGeocode input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  min-height: 40px;
  border: 1px solid #333;
  text-indent: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
  width: 100%;
  max-width: 300px;
}
.demos .autodetect-cc h3 {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-bottom: 10px;
}
.demos .autodetect-cc .testCards li {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px dotted #ddd;
  text-align: right;
}
.demos .autodetect-cc .testCards span {
  float: left;
}
.demos .autodetect-cc .cards li {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url("../assets/images/sprite-cards.png");
  display: inline-block;
  width: 51px;
  height: 32px;
}
.demos .autodetect-cc .cards .mastercard {
  background-position-x: -51px;
}
.demos .autodetect-cc .cards .amex {
  background-position-x: -102px;
}
.demos .autodetect-cc .cards .discover {
  background-position-x: -153px;
}
.demos .autodetect-cc .cards .dinersclub {
  background-position-x: -204px;
}
.demos .autodetect-cc .cards .jcb {
  background-position-x: -306px;
}
.demos .autodetect-cc .cards .inactive {
  background-position-y: 32px;
}
.demos .autodetect-cc .widget > div {
  margin: 10px 0;
}
.demos .autodetect-cc .widget > div label {
  font-weight: bold;
}
.demos .reverseGeocode [data-ss-component="zip"] {
  max-width: 140px;
  display: inline;
}
.demos .reverseGeocode [data-ss-component="zip"] + .ajaxLoader {
  display: none;
  position: relative;
  top: 13px;
}
.demos .reverseGeocode .code {
  clear: both;
}
