.home {
	.example {
		@include display-box;
	}
	pre.prettyprint {
		@include box-flex(1);
		width: 100%;
		margin: 10px 0;
	}
	.output {
		@include border-radius(5px);
		@include box-flex(3);
		width: 100%;
		border: 1px solid #CCC;
		padding: 10px;
		margin: 10px;
	}
	.step2 {
		display: none;
		.zip {
			float: left;
		}
	}
	.zip {
		width: 100px;
	}
	.city {
		width: 100%;
		margin: 10px 0;
	}
	.ajaxLoader {
		visibility: hidden;
	}
	.demo button {
		max-width: 185px;
	}
	.message {
		@include transition(opacity 0.5s);
		opacity: 0;
	}
	.latest {
		ul {
			margin: 10px;
		}
		li {
			display: block;
			margin: 3px 0;
		}
		.note {
			font-style: italic;
		}
		h3 {
			margin: 10px 0;
		}
		label {
			display: inline-block;
			font-weight: bold;
			min-width: 230px;
		}
	}
	.recommended {
		label {
			display: block;
			font-weight: bold;
			margin-top: 15px;
		}
		input {
			display: block;
			width: 500px;
		}
	}
}
