.togglers {
	h2 {
		font-weight: bold;
		font-size: 14px;
		border-bottom: 1px solid #AAA;
		padding-bottom: 10px;
	}
	[data-ss-widget="toggler"] {
		margin: 10px 5px;
	}
	[data-ss-component="wrapper"] {
		padding: 5px;
	}
	.tabs {
		.bar1 {
			margin-bottom: 5px;
		}
		[data-ss-component="wrapper"] {
			padding: 0 5px 5px;
		}
	}
	.bar1 {
		border: 1px solid #333;
		padding: 7px 5px;
		border-radius: 3px;
	}
	.bar2 {
		border-color: black;
		color: #cd0000;
	}
}