/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, stylesheets/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, stylesheets/_base.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 9, stylesheets/_base.scss */
body {
  position: relative;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

/* line 15, stylesheets/_base.scss */
img {
  max-width: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*

SOYSAUCE - Branding Brand's secret to branding your site.
Author: Edward Gaba

Summary
=========
JS widget library styling.

1. Responsive Button



*/
@-webkit-keyframes spin {
  /* line 18, stylesheets/_soysauce.scss */
  from {
    -webkit-transform: rotateZ(0deg);
    opacity: 0.6;
  }

  /* line 19, stylesheets/_soysauce.scss */
  50% {
    -webkit-transform: rotateZ(180deg);
    opacity: 1.0;
  }

  /* line 20, stylesheets/_soysauce.scss */
  to {
    -webkit-transform: rotateZ(360deg);
    opacity: 0.6;
  }
}

@-moz-keyframes spin {
  /* line 25, stylesheets/_soysauce.scss */
  from {
    -moz-transform: rotateZ(0deg);
    opacity: 0.6;
  }

  /* line 26, stylesheets/_soysauce.scss */
  50% {
    -moz-transform: rotateZ(180deg);
    opacity: 1.0;
  }

  /* line 27, stylesheets/_soysauce.scss */
  to {
    -moz-transform: rotateZ(360deg);
    opacity: 0.6;
  }
}

@-o-keyframes spin {
  /* line 32, stylesheets/_soysauce.scss */
  from {
    -o-transform: rotateZ(0deg);
    opacity: 0.6;
  }

  /* line 33, stylesheets/_soysauce.scss */
  50% {
    -o-transform: rotateZ(180deg);
    opacity: 1.0;
  }

  /* line 34, stylesheets/_soysauce.scss */
  to {
    -o-transform: rotateZ(360deg);
    opacity: 0.6;
  }
}

@keyframes spin {
  /* line 39, stylesheets/_soysauce.scss */
  from {
    transform: rotateZ(0deg);
    opacity: 0.6;
  }

  /* line 40, stylesheets/_soysauce.scss */
  50% {
    transform: rotateZ(180deg);
    opacity: 1.0;
  }

  /* line 41, stylesheets/_soysauce.scss */
  to {
    transform: rotateZ(360deg);
    opacity: 0.6;
  }
}

/* line 45, stylesheets/_soysauce.scss */
[ss-widget], [ss-component] {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
}

/* line 55, stylesheets/_soysauce.scss */
[ss-widget="button"] {
  padding: 7px 10px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #333;
  text-align: center;
  text-decoration: none !important;
  position: relative;
}
/* line 63, stylesheets/_soysauce.scss */
[ss-widget="button"] .icon {
  display: block;
  margin: 0 0 0 5px;
  position: absolute;
  width: 10px;
  height: 16px;
  overflow: hidden;
  top: 8px;
}
/* line 71, stylesheets/_soysauce.scss */
[ss-widget="button"] .icon:after {
  position: absolute;
  width: 8px;
  height: 8px;
}
/* line 77, stylesheets/_soysauce.scss */
[ss-state="active"][ss-widget="button"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaea00), color-stop(100%, #c1c10d));
  background: -webkit-linear-gradient(#eaea00 0%, #c1c10d 100%);
  background: -moz-linear-gradient(#eaea00 0%, #c1c10d 100%);
  background: -o-linear-gradient(#eaea00 0%, #c1c10d 100%);
  background: linear-gradient(#eaea00 0%, #c1c10d 100%);
  background-color: #EDE61C;
  color: white;
  text-shadow: 0px 1px 5px #333;
}
/* line 83, stylesheets/_soysauce.scss */
[ss-state="submitting"][ss-widget="button"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0a0a0), color-stop(100%, #6b6b6b));
  background: -webkit-linear-gradient(#a0a0a0 0%, #6b6b6b 100%);
  background: -moz-linear-gradient(#a0a0a0 0%, #6b6b6b 100%);
  background: -o-linear-gradient(#a0a0a0 0%, #6b6b6b 100%);
  background: linear-gradient(#a0a0a0 0%, #6b6b6b 100%);
  opacity: 0.3;
  border: 1px solid #333;
}
/* line 87, stylesheets/_soysauce.scss */
[ss-state="submitting"][ss-widget="button"] .icon {
  width: 16px;
  opacity: 0.6;
  top: 6px;
}
/* line 91, stylesheets/_soysauce.scss */
[ss-state="submitting"][ss-widget="button"] .icon:after {
  background: none !important;
  box-shadow: 0 0 0 transparent !important;
}
/* line 97, stylesheets/_soysauce.scss */
[ss-options*="arrow"][ss-widget="button"] {
  padding-right: 15px;
}
/* line 99, stylesheets/_soysauce.scss */
[ss-options*="arrow"][ss-widget="button"] .icon:after {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  content: "";
  background: white;
  top: 2px;
  left: -4px;
  box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
/* line 108, stylesheets/_soysauce.scss */
[ss-options*="bar"][ss-widget="button"] {
  text-align: left;
}
/* line 110, stylesheets/_soysauce.scss */
[ss-options*="bar"][ss-widget="button"] .icon {
  right: 5px;
}

/* line 118, stylesheets/_soysauce.scss */
[ss-widget="accordion"]:not([ss-options*="slide"]) [ss-component="content"] {
  color: black;
  display: none;
  line-height: 16px;
}
/* line 122, stylesheets/_soysauce.scss */
[ss-widget="accordion"]:not([ss-options*="slide"]) [ss-component="content"][ss-state="open"] {
  display: block;
}

/* line 127, stylesheets/_soysauce.scss */
[ss-widget="accordion"] [ss-component="button"] {
  display: block;
  position: relative;
  padding: 14px 5px;
  border: 1px solid black;
  font-weight: bold;
}
/* line 133, stylesheets/_soysauce.scss */
[ss-widget="accordion"] [ss-component="button"][ss-state="closed"] .icon:before {
  top: 11px;
  height: 12px;
  border: solid;
  border-width: 0 2px 0 0;
  z-index: 1;
}
/* line 141, stylesheets/_soysauce.scss */
[ss-widget="accordion"] [ss-component="button"][ss-state="open"] .icon:before, [ss-widget="accordion"] [ss-component="button"][ss-state="open"] .icon:after {
  width: 6px;
}
/* line 146, stylesheets/_soysauce.scss */
[ss-widget="accordion"] [ss-component="button"] .icon:before, [ss-widget="accordion"] [ss-component="button"] .icon:after {
  border-top: 2px solid black;
  content: "";
  position: absolute;
  right: 10px;
  top: 19px;
  width: 12px;
}

/* line 157, stylesheets/_soysauce.scss */
[ss-widget="accordion"][ss-state="ajaxing"] {
  border-color: #333;
}
/* line 159, stylesheets/_soysauce.scss */
[ss-widget="accordion"][ss-state="ajaxing"] [ss-component="button"] {
  background: #777;
}
/* line 161, stylesheets/_soysauce.scss */
[ss-widget="accordion"][ss-state="ajaxing"] [ss-component="button"] .icon {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -15px;
  border: 5px solid white;
  border-right-color: transparent;
  right: 2px;
  top: 50%;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
/* line 180, stylesheets/_soysauce.scss */
[ss-widget="accordion"][ss-state="ajaxing"] [ss-component="button"] .icon:before, [ss-widget="accordion"][ss-state="ajaxing"] [ss-component="button"] .icon:after {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-color: transparent;
}

/* line 189, stylesheets/_soysauce.scss */
[ss-widget="carousel"] {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
/* line 194, stylesheets/_soysauce.scss */
[ss-widget="carousel"] * {
  -webkit-user-drag: none;
  -webkit-backface-visibility: hidden;
}
/* line 198, stylesheets/_soysauce.scss */
[ss-widget="carousel"] a {
  float: left;
}
/* line 200, stylesheets/_soysauce.scss */
[ss-widget="carousel"] a img {
  display: block;
}
/* line 204, stylesheets/_soysauce.scss */
[ss-widget="carousel"][ss-state="ready"] {
  opacity: 1;
}
/* line 206, stylesheets/_soysauce.scss */
[ss-widget="carousel"][ss-state="ready"] [ss-component="view_container"]:not([ss-state="no-animation"]) {
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease;
}
/* line 210, stylesheets/_soysauce.scss */
[ss-widget="carousel"] [ss-component="view_container"] {
  overflow: hidden;
}
/* line 213, stylesheets/_soysauce.scss */
[ss-widget="carousel"] [ss-component="dots"] {
  text-align: right;
  margin: 5px;
}
/* line 216, stylesheets/_soysauce.scss */
[ss-widget="carousel"] [ss-component="dots"] div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
  display: inline-block;
  height: 8px;
  width: 8px;
  background: #777;
}
/* line 223, stylesheets/_soysauce.scss */
[ss-widget="carousel"] [ss-component="dots"] div[ss-state="active"] {
  background: #D00;
}
