[data-ss-widget], [data-ss-component] {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden;
  position: relative;
  z-index: 5;
}
[data-ss-widget]:not([data-ss-widget="cc_validator"]), [data-ss-component]:not([data-ss-widget="cc_validator"]) {
  -webkit-user-select: none;
}

[data-ss-widget="toggler"]:not([data-ss-options*="slide"]) > [data-ss-component="content"][data-ss-state="open"] {
  display: block;
}
[data-ss-widget="toggler"]:not([data-ss-options*="slide"]) > [data-ss-component="content"][data-ss-state="closed"] {
  display: none;
}

[data-ss-widget="toggler"][data-ss-options*="slide"] [data-ss-component="content"] {
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
  overflow: hidden;
}
[data-ss-widget="toggler"][data-ss-options*="slide"] [data-ss-component="content"][data-ss-state="closed"] {
  height: 0 !important;
}

[data-ss-utility="overlay"] {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 1;
}
[data-ss-utility="overlay"][data-ss-state="active"] {
  opacity: 0.7;
}

[data-ss-widget="carousel"] {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
[data-ss-widget="carousel"] a, [data-ss-widget="carousel"] img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}
[data-ss-widget="carousel"]:not([data-ss-options*="nofullscreen"]) img {
  width: 100%;
}
[data-ss-widget="carousel"] [data-ss-component="item"] {
  list-style-type: none;
  float: left;
}
[data-ss-widget="carousel"] [data-ss-component="item"][data-ss-state="active"] {
  z-index: 6;
}
[data-ss-widget="carousel"]:not([data-ss-state]) {
  opacity: 0;
  max-height: 400px;
}
[data-ss-widget="carousel"][data-ss-state] {
  opacity: 1;
}
[data-ss-widget="carousel"] [data-ss-component="container_wrapper"] {
  overflow: hidden;
  max-height: 100%;
}
[data-ss-widget="carousel"][data-ss-state] [data-ss-component="container"]:not([data-ss-state="notransition"]) {
  -webkit-transition: -webkit-transform 0.65s;
  -moz-transition: -moz-transform 0.65s;
  -o-transition: -o-transform 0.65s;
  transition: transform 0.65s;
}
[data-ss-widget="carousel"][data-ss-state] [data-ss-component="container"]:not([data-ss-state="notransition"])[data-ss-state="intransit-fast"] {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}
[data-ss-widget="carousel"][data-ss-options*="zoom"] img[data-ss-state="ready"] {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
[data-ss-widget="carousel"][data-ss-state="zoomed"] [data-ss-component="button"] {
  display: none;
}
[data-ss-widget="carousel"] [data-ss-component="zoom_icon"], [data-ss-widget="carousel"] [data-ss-component="button"] {
  z-index: 10;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dots"] {
  margin: 10px 0;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dot"] {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
  max-width: 60px;
  margin: 0 5px;
  opacity: 0.3;
}
[data-ss-widget="carousel"][data-ss-options*="thumbs"] [data-ss-component="dot"][data-ss-state="active"] {
  opacity: 1;
}
[data-ss-widget="carousel"][data-ss-options*="autoheight"] {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}
