[data-ss-widget], [data-ss-component] {
	&[data-ss-degrade] {
		-webkit-backface-visibility: visible !important;
		-webkit-animation: none 0 ease 0 1 normal !important;
		animation: none 0 ease 0 1 normal !important;
		* {
			-webkit-backface-visibility: visible !important;
			-webkit-animation: none 0 ease 0 1 normal !important;
			animation: none 0 ease 0 1 normal !important;
		}
	}
}
