// Global Styles
[ss-widget], [ss-component] {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-user-select: none;
	position: relative;
	z-index: 5;
}

// Widget Styles
@import "soysauce/_accordion.scss";
@import "soysauce/_overlay.scss";