/*

SOYSAUCE - Branding Brand's secret to branding your site.
Author: Edward Gaba

Summary
=========
JS widget library styling.

1. Responsive Button



*/

@-webkit-keyframes spin  
{  
    from { -webkit-transform: rotateZ(0deg);   opacity: 0.6; }  
    50%  { -webkit-transform: rotateZ(180deg); opacity: 1.0; }  
    to   { -webkit-transform: rotateZ(360deg); opacity: 0.6; }  
}

@-moz-keyframes spin  
{  
    from { -moz-transform: rotateZ(0deg);   opacity: 0.6; }  
    50%  { -moz-transform: rotateZ(180deg); opacity: 1.0; }  
    to   { -moz-transform: rotateZ(360deg); opacity: 0.6; }  
}

@-o-keyframes spin  
{  
    from { -o-transform: rotateZ(0deg);   opacity: 0.6; }  
    50%  { -o-transform: rotateZ(180deg); opacity: 1.0; }  
    to   { -o-transform: rotateZ(360deg); opacity: 0.6; }  
}

@keyframes spin  
{  
    from { transform: rotateZ(0deg);   opacity: 0.6; }  
    50%  { transform: rotateZ(180deg); opacity: 1.0; }  
    to   { transform: rotateZ(360deg); opacity: 0.6; }  
}

// Global Styles
[ss-widget], [ss-component] {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-user-select: none;
}

// Button Styles
[ss-widget="button"] {
	@extend %btnbase;
}

%btnbase {
	padding: 7px 10px;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none !important;
	position: relative;
	.icon {
		display: block;
		margin: 0 0 0 5px;
		position: absolute;
		width: 10px;
		height: 16px;
		overflow: hidden;
		top: 8px;
		&:after {
			position: absolute;
			width: 8px;
			height: 8px;
		}
	}
	&[ss-state="active"] {
		@include background(linear-gradient(#eaea00 0%,#c1c10d 100%));
		background-color: #EDE61C;
		color: white;
		text-shadow: 0px 1px 5px #333;
	}
	&[ss-state="submitting"] {
		@include background(linear-gradient(#a0a0a0 0%,#6b6b6b 100%));
		opacity: 0.3;
		border: 1px solid #333;
		.icon {
			width: 16px;
			opacity: 0.6;
			top: 6px;
			&:after {
				background: none !important;
				box-shadow: 0 0 0 transparent !important;
			}
		}
	}
	&[ss-options*="arrow"] {
		padding-right: 15px;
		.icon:after {
			@include transform(rotateZ(45deg));
			content: "";
			background: white;
			top: 2px;
			left: -4px;
			box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.3);
		}
	}
	&[ss-options*="bar"] {
		text-align: left;
		.icon {
			right: 5px;
		}
	}
}

// Accordion Styles
[ss-widget="accordion"]:not([ss-options*="slide"]) {
	[ss-component="content"] {
		color: black;
		display: none;
		line-height: 16px;
		&[ss-state="open"] {
			display: block;
		}
	}
}
[ss-widget="accordion"] [ss-component="button"] {
	display: block;
	position: relative;
	padding: 14px 5px;
	border: 1px solid black;
	font-weight: bold;
	&[ss-state="closed"] .icon:before {
			top: 11px;
			height: 12px;
			border: solid;
			border-width: 0 2px 0 0;
			z-index: 1;
	}
	&[ss-state="open"] .icon {
		&:before, &:after {
			width: 6px;
		}
	}
	.icon {
		&:before, &:after {
			border-top: 2px solid black;
			content: "";
			position: absolute;
			right: 10px;
			top: 19px;
			width: 12px;
		}
	}
}

[ss-widget="accordion"][ss-state="ajaxing"] {
	border-color: #333;
	[ss-component="button"] {
		background: #777;
		.icon {
			@include border-radius(20px);
			@include box-shadow(0 0 10px 2px rgba(255,255,255,.4));
			position: absolute;
			width: 20px;
			height: 20px;
			margin: -10px 0 0 -15px;
			border: 5px solid white;
			border-right-color: transparent;
			right: 2px;
			top: 50%;

			// No mixin for this
			-webkit-animation: spin 1s linear infinite;
			-moz-animation: spin 1s linear infinite;
			-ms-animation: spin 1s linear infinite;
			-o-animation: spin 1s linear infinite;
			animation: spin 1s linear infinite;

			&:before, &:after {
				@include box-shadow(0 0 0 transparent);
				border-color: transparent;
			}
		}
	}
}

// Carousel Styles
[ss-widget="carousel"] {
	@include transition(opacity 1s ease-in-out);
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	opacity: 0;
	* {
		-webkit-user-drag: none;
		-webkit-backface-visibility: hidden;
	}
	a {
		float: left;
		img {
			display: block;
		}
	}
	&[ss-state="ready"] {
		opacity: 1;
		[ss-component="view_container"]:not([ss-state="no-animation"]) {
			@include transition(transform 1s ease);
		}
	}
	[ss-component="view_container"] {
		overflow: hidden;
	}
	[ss-component="dots"] {
		text-align: right;
		margin: 5px;
		div {
			@include border-radius(10px);
			margin: 0 3px;
			display: inline-block;
			height: 8px;
			width: 8px;
			background: #777;
			&[ss-state="active"] {
				background: #D00;
			}
		}
	}
}
