@import "compass/css3";

// Global Styles
[data-ss-widget], [data-ss-component] {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-backface-visibility: hidden;
	position: relative;
	z-index: 5;
	&[data-ss-degrade] {
		-webkit-backface-visibility: visible !important;
		-webkit-animation: none 0 ease 0 1 normal !important;
		animation: none 0 ease 0 1 normal !important;
		* {
			-webkit-backface-visibility: visible !important;
			-webkit-animation: none 0 ease 0 1 normal !important;
			animation: none 0 ease 0 1 normal !important;
		}
	}
	&:not([data-ss-widget="autofill-cc"],[data-ss-widget="autofill-zip"]) {
		-webkit-user-select: none;
	}
}

// Widget Styles
@import "soysauce/_toggler.scss";
@import "soysauce/_overlay.scss";
@import "soysauce/_carousel.scss";
