[ss-widget="carousel"] {
	overflow: hidden;
	a, img {
		display: block;
	}
	[ss-component="item"] {
		float: left;
	}
	[ss-component="container"] {
		@include transition(transform .9s);
		@include transform(translate3d(0, 0, 0));
		
	}
}
