[ss-widget="carousel"] {
	@include transition(opacity 0.5s ease-in-out);
	a, img {
		display: block;
	}
	[ss-component="item"] {
		float: left;
	}
	&:not([ss-state]) {
		opacity: 0;
	}
	&[ss-state] {
		opacity: 1;
	}
	[ss-component="container_wrapper"] {
		overflow: hidden;
	}
	&[ss-state] [ss-component="container"]:not([ss-state="notransition"]) {
		@include transition(transform .85s);
		&[ss-state="intransit-fast"] {
			@include transition(transform .6s);
		}
	}
}
