[data-ss-widget="carousel"] {
	@include transition(opacity 0.5s ease-in-out);
	a, img {
		@include box-sizing(border-box);
		display: block;
		max-width: 100%;
		-webkit-user-drag: none;
	}
	&:not([data-ss-options*="nofullscreen"]) img {
		width: 100%;
	}
	[data-ss-component="item"] {
		list-style-type: none;
		float: left;
		&[data-ss-state="active"] {
			z-index: 6;
		}
	}
	&:not([data-ss-state]) {
		opacity: 0;
	}
	&[data-ss-state] {
		opacity: 1;
	}
	[data-ss-component="container_wrapper"] {
		overflow: hidden;
	}
	&[data-ss-state] [data-ss-component="container"]:not([data-ss-state="notransition"]) {
		@include transition(transform .85s);
		&[data-ss-state="intransit-fast"] {
			@include transition(transform .6s);
		}
	}
	&[data-ss-options*="zoom"] img[data-ss-state="ready"] {
		@include transition(transform .5s);
	}
	&[data-ss-state="zoomed"] [data-ss-component="button"] {
		display: none;
	}
	[data-ss-component="zoom_icon"], [data-ss-component="button"] {
		z-index: 10;
	}
	&[data-ss-options*="thumbs"] {
		[data-ss-component="dots"] {
			margin: 10px 0;
		}
		[data-ss-component="dot"] {
			@include transition(opacity 0.2s);
			display: inline-block;
			max-width: 60px;
			margin: 0 5px;
			opacity: 0.3;
			&[data-ss-state="active"] {
				opacity: 1;
			}
		}
	}
}
