[data-ss-component="input-wrapper"] {
  position: relative;
	[data-ss-widget="input-clear"] {
		&[data-ss-clear="on"] + [data-ss-component="icon"] {
			display: block;
		}
		+ [data-ss-component="icon"] {
			@include transform(rotate(45deg));
			display: none;
			position: absolute;
			z-index: 6;
			font-size: 12px !important;
			top: 50%;
			right: 5px;
			margin-top: -8px;
			color: #FAFAFA;
			background: #AAA;
			padding: 0px 7px 3px;
			border-radius: 14px;
			opacity: 0.8;
			text-transform: none !important;
			font-weight: bold !important;
			width: 18px;
			height: 18px;
			&:after, &:before {
				content: "";
				border-top: 2px solid white;
				position: absolute;
				top: 8px;
				left: 4px;
				width: 10px;
			}
			&:before {
				@include transform(rotate(90deg));
			}
		}
	}
}
