[data-ss-utility="overlay"] {
  @include transition(opacity 0.3s ease-in-out);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 1000;
  &[data-ss-state="active"] {
    opacity: 0.7;
  }
  &:not([data-ss-state]) > [data-ss-component] {
    opacity: 0;
  }
  [data-ss-component="close"] {
    @include border-radius(5px);
    @include transition(opacity 0.3s ease-in-out);
    position: absolute;
    color: white;
    padding: 5px;
    border: 1px solid white;
    top: 5px;
    right: 5px;
    z-index: 1100;
    opacity: 1;
  }
  [data-ss-component="content"] {
    position: relative;
    z-index: 1100;
    top: 60px;
    > [data-ss-widget="carousel"] {
      margin: 0 auto;
    }
  }
}
