[data-ss-widget="overlay"] {
		@include transition(opacity 0.4s ease-in-out);
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0;
		z-index: 1;
	&[data-ss-state="active"] {
		opacity: 0.7;
	}
}